#page.about {
  #logo {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw - 48px);
  }

  #section {
    overflow: hidden;
    min-height: 100dvh;

    &.index {
      min-height: calc(100dvh - 84px);
    }

    &.content {
      gap: 110px;
      padding: 75px 0;
      min-height: calc(100dvh - 150px);
    }
  }

  #character {
    position: absolute;
    width: 100dvh;
    height: 140%;
    top: 78px; left: 7.5%;
    background-image: url(../assets/rooftop_ch.png);
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
      left: calc(50% + 160px);
      transform: translateX(-50%);
      background-position: center bottom;
    }
  }

  #text {
    position: absolute;
    right: 7.5%; bottom: 50%;
    transform: translateY(50%);

    gap: 16px;
    width: 40%;

    @media (max-width: 768px) {
      width: 90%;
      right: 50%;
      bottom: 5%;
      transform: translateX(50%);
    }

    #slogun {
      font-size: 20px;
      font-weight: 600;
    }
    #description {
      font-size: 16px;
      font-weight: 400;
    }
  }

  #group {
    padding: 0 74px;

    &.artists {
      gap: 48px;

      #list {
        flex-direction: row;
        gap: 70px;
        flex-wrap: wrap;
  
        #artist {
          gap: 22px;
  
          #profile {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #242424;
            overflow: hidden;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;

            &::after {
              content: '';
              width: 100%;
              height: 100%;
              backdrop-filter: blur(5px);

              background-image: url(../assets/icons/youtube.svg);
              background-position: 50% 50%;
              background-repeat: no-repeat;

              opacity: 0;
              transition: opacity 0.1s ease-in-out;
            }
          }
  
          #name {
            font-size: 15px;
            font-weight: 600;
          }

          &:hover {
            #profile::after {
              opacity: 1;
            }
          }
        }
      }
    }

    &.contact {
      gap: 16px;

      #list {
        flex-direction: row;
        gap: 22px;
      }
    }

    #title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}